.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 28rem;
  font-weight: 500;
  box-shadow: -4px 6px 7px #00000017 !important;
  background: #FFF;
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  color: var(--color-primary);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}
