.content-slider .content-slider__message {
  line-height: 3.2rem;
}

.content-slider .content-slider__message > p {
  margin: 0rem;
  line-height: 3.2rem;
}

.content-slider .content-slider-component .slider-buttons {
  margin-top: 2rem;
}

.content-slider .content-slider-component .slider-counter__link--dots .dot {
  width: 0.8rem;
  height: 0.8rem;
  background-color: rgba(128,128,128,0.5);
  border: none;
}
.content-slider .content-slider-component .slider-counter__link--dots.slider-counter__link--active .dot {
  background-color: #808080;
}
@media screen and (max-width: 749px) {
  .content-slider .content-slider-component {
    max-width: 100% !important;
  }
}