.article-template .article-template__hero-container {
  position: relative;
}

.article-template .article-template__hero-container .article-template__link {
  position: absolute;
  left: 14.7rem;
  top: 3.5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #1A1A1A;
}

.article-template .article-template__hero-container .article-template__link .icon-wrap {
  margin: 0rem 2rem 0rem 0rem !important;
}

.article-template .article-content-box {
  max-width: 925px;
  margin-inline: auto;
  margin-top: -7rem;
  padding: 3.5rem 8rem 0rem 8rem;
  background: #fff;
  z-index: 1;
  position: relative;
}

.article-template .article-content-box header {
  margin-top: 0rem;
}

.template-article .services-category .services-category-card {
  padding: 0rem 8rem;
  max-width: 925px;
  margin: 0 auto;
}

.template-article .instagram-feed .page-width,
.template-article .section-slideshow .page-width,
.template-article .video-section.page-width {
  max-width: 925px;
  margin: 0 auto;
}

.template-article .section-slideshow .slideshow__controls {
  right: auto;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.template-article .section-slideshow .slider-counter__link--dots .dot {
  width: 8px;
  height: 8px;
}

.template-article .section-slideshow .slideshow__controls .slider-counter__link--active.slider-counter__link--dots .dot {
  background-color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  .template-article .instagram-feed .instagram-feed-list {
    --grid-desktop-horizontal-spacing: 1.9rem;
  }

  .article-template .article-template__title {
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.article-template .article-template__title .article-date-author {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #9F886A;
}

.article-template .article-tags {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #9F886A;
}

.article-template .article-template__social-sharing .footer__list-social {
  justify-content: flex-start !important;
}

.article-template .article-template__social-sharing .footer__list-social .list-social__link {
  color: #9f886a;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9f996a;
  border-radius: 50%;
}

.template-article .services-category .services-category-card .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
}

.article-template .list-social__item.list-social__item-whatsapp .svg-wrapper {
  width: 1.4rem;
  height: 1.4rem;
}

@media screen and (min-width: 1024px) {
    .article-template .article-template__social-sharing {
    right: -4rem !important;
  }
}

@media screen and (min-width: 990px) {
  .template-article .services-category .services-category-card .media-grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  .template-article .services-category .services-category-card .content-grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  .template-article .services-category .services-category-card .content-grid__item {
    padding-right: 0rem;
    padding-left: 2rem;
  }

  .template-article .services-category .services-category-card .services-category-grid[data-block-order="true"] .content-grid__item {
    padding-right: 2rem;
    padding-left: 0rem;
  }

  .template-article .instagram-feed .page-width,
  .template-article .section-slideshow .page-width,
  .template-article .video-section.page-width {
    padding-inline: 8rem;
  }

  .article-template .article-template__social-sharing {
    position: absolute;
    top: 10rem;
    right: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
  }
  
  .article-template .article-template__social-sharing .footer__list-social {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 989px) {
  .template-article .services-category .services-category-grid .content-grid__item {
    padding-top: 2rem;
  }

  .article-template .article-content-box {
    max-width: 95%;
    margin-top: -3rem;
    padding: 3rem 2.5rem 0rem;
  }

  .article-template .article-template__title {
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  } 

  .article-template .article-template__hero-container .article-template__link {
    left: 2rem;
    top: 1.5rem;
  }

  .template-article .instagram-feed .page-width,
  .template-article .section-slideshow .page-width {
    padding-inline: 2.5rem;
  }

  .template-article .services-category .services-category-card {
    padding-inline: 2.5rem;
  }

  .template-article .services-category .services-category-card .services-category-media {
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 749px) {
  .template-article .video-section.page-width {
    padding-inline: 0rem;
  }

  .template-article .rich-text .rich-text__wrapper {
    width: 100% !important;
  }
}
