.multi-slider-wrapper .year-wrapper .year-name {
    margin-bottom: 30px;
}
.multi-slider-wrapper .year-wrapper .year-name {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.multi-slider-wrapper .year-wrapper .year-name .year.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: var(--color-primary)
}

.multi-slider-wrapper .year-wrapper .year-name .year {
  padding: 5px;
  cursor: pointer;
}

.multi-slider-wrapper .slider-wrapper .slider-wrapper-container .multi-wrappers {
  display: none;
}

.multi-slider-wrapper .slider-wrapper .slider-wrapper-container .multi-wrappers.active {
  display: block;
}
.multi-slider-wrapper .slider-wrapper-container img {
  border-radius: 5px;
}

.multi-slider-wrapper  .image-with-text__media--small {
  height: 31.4rem;
}

.multi-slider-wrapper  .image-with-text__media--medium {
  height: 46rem;
}

.multi-slider-wrapper  .image-with-text__media--large {
  height: 69.5rem;
}

.multi-slider-wrapper  .journey-image-wrapper-mobile {
  display: none;
}

@media screen and (max-width: 769px) {
  .multi-slider-wrapper  .image-with-text__media--small {
    height: 19.4rem;
  }

  .multi-slider-wrapper  .image-with-text__media--medium {
    height: 29.6rem;
  }

  .multi-slider-wrapper  .image-with-text__media--large {
    height: 43.5rem;
  }
}