.newsletter__wrapper {
  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
}

.newsletter-card {
  display: inline-block;
  max-width: 55rem;
  box-shadow: 2px 3px 3px #00000029;
}

.newsletter-card .newsletter-card-body {
  padding: 4rem 2.5rem;
}

.newsletter__wrapper .inline-richtext  {
  margin: 0rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }

  .newsletter__wrapper .inline-richtext  {
    margin: 0rem;
    margin-bottom: 1rem;
  }

  .newsletter-card .newsletter-card-body {
    padding: 5.4rem 4.6rem;
  }
}

@media screen and (min-width: 990px) {
  .newsletter-card .newsletter-card-body {
    padding: 7rem 7.6rem;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.2rem;
}

.newsletter__wrapper .newsletter-card .newsletter-form__field-wrapper,
.newsletter__wrapper .newsletter-card .newsletter-form {
  max-width: 100%;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  display: block;
  width: 100%;
  margin-top: 1rem;
}

.newsletter-form__message.newsletter-form__message--success {
  color: var(--color-primary);
}

.newsletter-form__message .svg-wrapper {
  display: none;
}

.newsletter-form__field-wrapper .field:before,
.newsletter-form__field-wrapper .field:after {
  display: none;
}

.newsletter-form__field-wrapper .field__input {
  min-height: 3.9rem;
  height: 3.9rem;
  outline: none;
  box-shadow: none;
  padding-block: 1rem;
  padding-left: 0rem;
  color: rgba(var(--color-foreground), 1);
  padding-right: 7rem !important;
  border-bottom: 0.1rem solid var(--color-primary);
}

.newsletter-form__field-wrapper .field__label {
  left: 0rem !important;
}

.newsletter-form__button.field__button {
  width: auto;
  font-size: 1.2rem;
  min-height: 3.9rem;
  height: 3.9rem;
  display: flex;
  font-family: var(--font-body-family);
  color: var(--color-primary);
  gap: 5px;
}

.newsletter-form__button.field__button .svg-wrapper {
  width: 1.5rem;
  height: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}
