.photo-gallery .project .galleryname {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.photo-gallery .project .galleryname .name.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: var(--color-primary);
}

.photo-gallery .project .galleryname .name {
  padding: 15px;
  color: var(--color-grey);
  cursor: pointer;
}

.photo-gallery .photo-gallery-wrapper .gallery-wrappers {
  display: none;
}

.photo-gallery .photo-gallery-wrapper .gallery-wrappers.active {
  display: block;
}
.photo-gallery .photo-gallery-wrapper .gallery-wrappers .gallery-slider {
  column-count: 3;
  --webkit-column-count: 3;
  --moz-column-count: 3;
  gap: 20px;
}
.photo-gallery .photo-gallery-wrapper .gallery-wrappers .gallery-photo {
  width: 100%;
  display: block;
  position: relative;
}
.photo-gallery .photo-gallery-wrapper .gallery-wrappers .gallery-photo.hide {
  display: none;
}
.photo-gallery
  .photo-gallery-wrapper
  .gallery-wrappers
  .gallery-photo:not(:last-child) {
  margin-bottom: 20px;
}

.photo-gallery .photo-gallery-wrapper .photo-gallery-container img {
  border-radius: 5px;
  object-fit: cover;
  height: auto;
  width: 100%;
}

.photo-gallery .image-with-text__media--small {
  height: 31.4rem;
}

.photo-gallery .image-with-text__media--medium {
  height: 46rem;
}

.photo-gallery .image-with-text__media--large {
  height: 69.5rem;
}

.photo-gallery .journey-image-wrapper-mobile {
  display: none;
}

.photo-gallery .photo-caption {
  position: absolute;
  bottom: 13px;
  left: 14px;
  z-index: 99;
  color: var(--color-white);
}

.photo-gallery .photo-gallery-button .view-more.button--secondary {
  color: var(--color-primary);
}
.photo-gallery .photo-gallery-button .view-more.button--secondary:hover {
  color: var(--color-white);
}
.photo-gallery .photo-gallery-button {
  display: flex;
  justify-content: center;
  margin-top: 29px;
}
@media screen and (max-width: 769px) {
  .photo-gallery .image-with-text__media--small {
    height: 19.4rem;
  }

  .photo-gallery .image-with-text__media--medium {
    height: 29.6rem;
  }

  .photo-gallery .image-with-text__media--large {
    height: 43.5rem;
  }
  .photo-gallery .photo-gallery-wrapper .gallery-wrappers .gallery-slider {
    column-count: 1;
    --webkit-column-count: 1;
    --moz-column-count: 1;
    gap: 20px;
  }
  .photo-gallery .project .galleryname {
    justify-content: start;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
