.photo-gallery .project{
  position: sticky;
  top: 0;
  z-index: 1000;
}
.photo-gallery .project .galleryname {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  gap: 31px;
  width: 100%;
  padding: 0rem 4rem;
  margin-bottom: 30px;
  position: sticky;
  top: 1px;
}

.photo-gallery .project .galleryname::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 1200px) {
  .photo-gallery .project .galleryname {
    justify-content: center;
  }
}

.photo-gallery .project .galleryname .name {
  color: var(--color-grey);
  font-size: 1.4rem;
  line-height: 1.8rem;
  cursor: pointer;
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
}

.photo-gallery .project .galleryname .name.active {
  font-weight: 600;
  font-family: Outfit-SemiBold !important;
  text-decoration: underline;
  text-underline-offset: 1.5rem;
  color: var(--color-primary);
}

.photo-gallery .photo-gallery-wrapper .gallery-wrappers {
  display: none;
}

.photo-gallery .photo-gallery-wrapper .gallery-wrappers.active {
  display: block;
}

.photo-gallery .photo-gallery-wrapper .gallery-wrappers .gallery-slider {
  column-count: 3;
  --webkit-column-count: 3;
  --moz-column-count: 3;
  gap: 20px;
}

.photo-gallery .photo-gallery-wrapper .gallery-wrappers .gallery-photo {
  width: 100%;
  display: block;
  position: relative;
}

.photo-gallery .photo-gallery-wrapper .gallery-wrappers .gallery-photo.hide {
  display: none;
}

.photo-gallery .photo-gallery-wrapper .gallery-wrappers .gallery-photo .image-with-text__media-item {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.photo-gallery .photo-gallery-wrapper .my-Gallery .gallery-photo .photo-gallery-content {
  position: absolute;
  content: "";
  bottom: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.photo-gallery .photo-gallery-wrapper .my-Gallery .gallery-photo .photo-gallery-content .photo-gallery-text {
  position: absolute;
  content: "";
  bottom: 0rem;
  left: 0rem;
  height: max-content;
  width: 100%;
  padding: 3.6rem 1.3rem 1.6rem 1.3rem;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #6F6F6F 100%) 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
}

.photo-gallery .photo-gallery-wrapper .my-Gallery .gallery-photo .photo-gallery-content .photo-gallery-text p {
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Outfit-Regular" !important;
  font-weight: 400;
  color: var(--color-white);
  margin: 0rem;
}

.photo-gallery .photo-gallery-wrapper .gallery-wrappers .gallery-photo:not(:last-child) {
  margin-bottom: 20px;
}

.photo-gallery .photo-gallery-wrapper .photo-gallery-container img {
  object-fit: cover;
  height: auto;
  width: 100%;
}

@media(max-width:749px){
  .photo-gallery .photo-gallery-wrapper .photo-gallery-container{
    padding: 0 13px;
  }

  .photo-gallery .photo-gallery-wrapper .gallery-wrappers .gallery-photo:not(:last-child){
    margin-bottom: 14px;
  }

  .photo-gallery .project .galleryname {
    padding: 0rem 4rem;
  }
}

.photo-gallery .image-with-text__media--small {
  height: 31.4rem;
}

.photo-gallery .image-with-text__media--medium {
  height: 46rem;
}

.photo-gallery .image-with-text__media--large {
  height: 69.5rem;
}

.photo-gallery .journey-image-wrapper-mobile {
  display: none;
}

.photo-gallery .photo-gallery-button .view-more.button--secondary {
  color: var(--color-primary);
}

.photo-gallery .photo-gallery-button .view-more.button--secondary:hover {
  color: var(--color-white);
}

.photo-gallery .photo-gallery-button {
  display: flex;
  justify-content: center;
  margin-top: 29px;
}

.photo-gallery .photo-gallery-button .button {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: "Outfit-Medium" !important;
  font-weight: 500;
}

@media screen and (min-width: 990px) {
  .photo-gallery .photo-gallery-wrapper .my-Gallery .gallery-photo .photo-gallery-content {
    visibility: hidden;
    opacity: 0;
  }

  .photo-gallery .photo-gallery-wrapper .my-Gallery .gallery-photo .image-with-text__media-item:hover .photo-gallery-content {
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (max-width: 989px) {
  .photo-gallery .project .prod-name {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
  }
}

@media screen and (max-width: 749px) {
  .photo-gallery .image-with-text__media--small {
    height: 19.4rem;
  }

  .photo-gallery .image-with-text__media--medium {
    height: 29.6rem;
  }

  .photo-gallery .image-with-text__media--large {
    height: 43.5rem;
  }

  .photo-gallery .photo-gallery-wrapper .gallery-wrappers .gallery-slider {
    column-count: 1;
    --webkit-column-count: 1;
    --moz-column-count: 1;
    gap: 20px;
  }
  
  .photo-gallery .project .galleryname {
    justify-content: start;
    margin-bottom: 40px;
  }
}
