.services .title {
  margin: 0;
}

.services.no-heading .title {
  display: none;
}

.services .title-wrapper-with-link {
  margin-top: 0;
}

.services .title-wrapper-with-link .title-image {
  max-width: 4.9rem;
}

@media screen and (max-width: 749px) {
  .services .title-wrapper-with-link {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .services__title {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 989px) {
  .services .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 750px) {
  .services .title-wrapper--self-padded-mobile {
    padding-bottom: 2.4rem;
    margin-bottom: 5.8rem;
  }
}

.services .title-wrapper--no-padding {
  padding-bottom: 0rem;
}

.services .button {
  margin-top: 1.5rem;
}

.services .button.button--underline {
  color: var(--color-grey10);
}

.services .button.button--underline:hover {
  color: var(--color-primary);
}

.services__media--placeholder {
  position: relative;
  overflow: hidden;
}

.services__media--placeholder:after {
  content: '';
  position: absolute;
  background: rgba(var(--color-foreground), 0.04);
}

.services__media--placeholder.media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .services__media--placeholder.media--adapt {
    height: 30rem;
  }
}

.services__media--placeholder > svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.services__media--placeholder:is(.animate--ambient, .animate--zoom-in) > .svg-wrapper {
  top: 0;
  left: 0;
  transform: translate(0);
}

@media screen and (min-width: 750px) {
  .services-list.grid {
    --grid-desktop-horizontal-spacing: 1.6rem;
    --grid-desktop-vertical-spacing: 3rem;
  }

  .services .button {
    margin-top: 2rem;
  }
}

.services .services-list-wrapper {
  padding-inline: 4rem;
}

.services-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.services-list__item:only-child {
  max-width: 72rem;
}

.services-list__item--empty {
  display: none;
}

.services:not(.background-none) .services-card {
  background: rgb(var(--color-background));
  height: 100%;
}

.services-card {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0.5rem;
  overflow: hidden;
}

.services-card.flip-card .services-card-content {
  visibility: visible;
  opacity: 1;
}

.services-card .services-card-content .services-card-content-box {
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
  overflow-y: auto;
}

.services-card .services-card-content .services-card-content-box::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0.6rem rgba(var(--color-foreground), 0.3);
	border-radius: 0.4rem;
	background-color: #F5F5F5;
}

.services-card .services-card-content .services-card-content-box::-webkit-scrollbar {
	width: 0.4rem;
	background-color: #F5F5F5;
}

.services-card .services-card-content .services-card-content-box::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	-webkit-box-shadow: inset 0 0 0.6rem rgba(var(--color-foreground), 0.3);
	background-color: rgba(var(--color-foreground), 0.6);
}

.services.background-primary .services-card .services-card-body {
  background: rgb(var(--color-background),  .78);
  opacity: 1;
  backdrop-filter: blur(15px);
}

.services-list .services-card__info h3 {
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: var(--font-outfit-normal);
  font-weight: 400;
}

.services-list .services-card__info h3,
.services-list .services-card__info p {
  margin: 0;
  color: var(--color-black);
}

.services-list .services-card__info p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-top: 0.4rem;
}

.services-list__item.center .media--adapt,
.services-list__item .media--adapt .services-card__image {
  width: auto;
}

.services-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

.services .services-card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.2rem 1rem 2.6rem 1rem;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}

.services .extra-services-card .services-card-content {
  visibility: visible;
  opacity: 1;
}

.services .extra-services-card .services-card-content .services-card-content-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .extra-services-card .services-card-content .service-description {
  max-width: 50%;
  text-align: center;
  margin: 0px;
}

.services .extra-services-card .services-card-content .service-description > p {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--color-primary);
  font-family: "Outfit-Regular" !important;
}

.services .services-card-content .service-name {
  font-size: 1.6rem;
  line-height: 2.3rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.services .services-card-content .service-caption {
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin: 0rem;
  color: rgba(var(--color-foreground), 1);
}

.services .services-card-content .service-description {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(var(--color-foreground), 1);
  margin-top: 1.5rem;
}

.services .services-card-content .service-description p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(var(--color-foreground), 1);
}

.services .services-card-content .service-description p a {
  text-decoration: underline !important;
}

.services .services-card-content .service-description p + p {
  margin-top: 1.5rem;
}

@media screen and (max-width: 989px) {
  .services .services-list.grid{
    --grid-desktop-horizontal-spacing: 2rem;
    --grid-desktop-vertical-spacing: 2rem;
    --grid-mobile-horizontal-spacing: 2rem;
    --grid-mobile-vertical-spacing: 2rem;
  }
}

@media screen and (max-width: 749px) {
  .services-list {
    margin: 0;
    width: 100%;
  }

  .services-list:not(.slider) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .services .services-list.grid--1-col-tablet .grid__item {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .services-list:not(.slider) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.background-none .services-card-spacing {
  padding: 0;
  margin: 0;
}

.services-card__info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2.3rem 3rem;
}

.services.background-none .services-card {
  border-radius: 0.5rem;
}

.services-card .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.services-card .action-button {
  position: relative;
  border: 0rem;
  background: transparent;
  padding: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.services-card .services-card-content .action-button {
  position: absolute;
  right: 3rem;
  bottom: 2.6rem;
  opacity: 0;
  visibility: hidden;
  background: rgb(var(--color-background), 1);
  z-index: 1;
}

.services-card.flip-card .services-card-content .action-button {
  visibility: visible;
  opacity: 1;
}

.services-card .action-button .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
}

@media screen and (min-width: 990px) {
  .services .page-width {
    padding-inline: 6.4rem;
  }

  .services-list__item--empty {
    display: list-item;
  }
}
