.banner-with-text {
  position: relative;
}

.banner-with-text__media {
  min-height: 100%;
  overflow: hidden;
}

.banner-with-text__media--small {
  height: 19.4rem;
}

.banner-with-text__media--medium {
  height: 29.6rem;
}

.banner-with-text__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .banner-with-text__media--small {
    height: 31.4rem;
  }

  .banner-with-text__media--medium {
    height: 46rem;
  }

  .banner-with-text__media--large {
    height: 69.5rem;
  }
}

.banner-with-text__media--placeholder {
  position: relative;
  overflow: hidden;
}

.banner-with-text__media--placeholder:after {
  content: '';
  position: absolute;
  background: rgba(var(--color-foreground), 0.04);
}

.banner-with-text__media--placeholder.banner-with-text__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .banner-with-text__media--placeholder.banner-with-text__media--adapt {
    height: 30rem;
  }
}

.banner-with-text__media--placeholder > svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.banner-with-text__media--placeholder:is(.animate--ambient, .animate--zoom-in) > .svg-wrapper {
  top: 0;
  left: 0;
  transform: translate(0);
}

.banner-with-text__content-wrapper {
  position: absolute;
  content: "";
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner-with-text__content-wrapper .page-width {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.banner-with-text:not(.banner-with-text--overlap) .banner-with-text__media-item:after {
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.banner-with-text:not(.banner-with-text--overlap) .banner-with-text__text-item:after {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.banner-with-text .banner-with-text__media-item > * {
  border-radius: var(--media-radius);
  overflow: hidden;
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.banner-with-text .global-media-settings {
  overflow: hidden !important;
}

.banner-with-text .banner-with-text__text-item > * {
  border-radius: var(--text-boxes-radius);
  overflow: hidden;
  box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.banner-with-text:not(.banner-with-text--overlap) .banner-with-text__media-item > *,
.banner-with-text:not(.banner-with-text--overlap) .banner-with-text__text-item > * {
  box-shadow: none;
}

.banner-with-text__content--mobile-right > * {
  align-self: flex-end;
  text-align: right;
}

.banner-with-text__content--mobile-center > * {
  align-self: center;
  text-align: center;
}


.banner-with-text .banner-with-text__media-item-mobile--top {
  align-self: flex-start;
  justify-content: flex-start;
}

.banner-with-text .banner-with-text__media-item-mobile--middle {
  align-self: center;
  justify-content: center;
}

.banner-with-text .banner-with-text__media-item-mobile--bottom {
  align-self: flex-end;
  justify-content: flex-end;
}

@media screen and (min-width: 990px) {
  .banner-with-text__content-wrapper .page-width {
    align-items: center;
  }

  .banner-with-text .banner-with-text__content{
    max-width: var(--content-width);
  }
}

@media screen and (min-width: 750px) {
  .banner-with-text__content--bottom {
    justify-content: flex-end;
    align-self: flex-end;
  }

  .banner-with-text__content--top {
    justify-content: flex-start;
    align-self: flex-start;
  }

  .banner-with-text__content--desktop-right > * {
    align-self: flex-end;
    text-align: right;
  }

  .banner-with-text__content--desktop-left > * {
    align-self: flex-start;
    text-align: left;
  }

  .banner-with-text__content--desktop-center > * {
    align-self: center;
    text-align: center;
  }

  .banner-with-text--overlap .banner-with-text__text-item {
    display: flex;
    padding: 3rem 0;
  }

  .banner-with-text__media-item--small,
  .banner-with-text__media-item--large + .banner-with-text__text-item {
    flex-grow: 0;
  }

  .banner-with-text .banner-with-text__media-item--top {
    align-self: flex-start;
    justify-content: flex-start;
  }

  .banner-with-text .banner-with-text__media-item--middle {
    align-self: center;
    justify-content: center;
  }

  .banner-with-text .banner-with-text__media-item--bottom {
    align-self: flex-end;
    justify-content: flex-end;
  }
}

.banner-with-text:not(.collapse-corners, .banner-with-text--overlap) .banner-with-text__media-item {
  z-index: 2;
}

/* Needed for gradient continuity with or without animation so that transparent PNG images come up as we would expect */
.banner-with-text.banner-with-text--overlap .backround-transparent,
.banner-with-text:not(.banner-with-text--overlap) .background-transparent {
  background: transparent;
}

/* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
.banner-with-text .gradient {
  transform: perspective(0);
}

/* Video with text content */
.video-with-text__media .video-section__media {
  height: 100%;
}

@media screen and (max-width: 1023px) {
  .banner-with-text__content .banner-with-text__text--caption {
    margin-top: 2rem;
  }
  .banner-with-text__content .banner-with-text__text {
    max-width: 100% !important;
  }
}

.banner-with-text__heading.hxl {
  font-size: 2rem;
  line-height: 2.6rem;
}

.banner-with-text__heading.text-lora {
  font-weight: 400;
}

.banner-with-text__heading + .banner-with-text__text {
  margin-top: 2rem;
}

@media screen and (min-width: 990px) {
  .banner-with-text__heading.hxl {
    font-size: 4rem;
    line-height: 3.2rem;
  }

  .banner-with-text__heading.text-lora {
    font-weight: 400;
  }

  .banner-with-text__heading + .banner-with-text__text {
    margin-top: 2rem;
  }
}

.banner-with-text__content {
  padding: 3.6rem 0rem;
}

.banner-with-text__content > * + * {
  margin-top: 2.1rem;
}

.banner-with-text__content > .banner-with-text__text:empty ~ a {
  margin-top: 1.2rem;
}

.banner-with-text__content .banner-with-text__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.banner-with-text__content .banner-with-text__text + .banner-with-text__text {
  margin-top: 2.7rem;
}

.banner-with-text__content .banner-with-text__icon_text {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  font-size: 1.6rem;
  line-height: 2rem;
}

.banner-with-text__content .banner-with-text__icon_text .icon-wrap,
.banner-with-text__content .banner-with-text__icon_text .icon-wrap svg {
  width: 1rem;
  height: auto;
  line-height: normal;
}

.banner-with-text__content > :first-child:is(.banner-with-text__heading),
.banner-with-text__text--caption + .banner-with-text__heading,
.banner-with-text__text--caption:first-child {
  margin-top: 0;
}

.banner-with-text__content :last-child:is(.banner-with-text__heading),
.banner-with-text__text--caption {
  margin-bottom: 0;
}

.banner-with-text__content .button + .banner-with-text__text {
  margin-top: 2rem;
}

.banner-with-text__content .banner-with-text__text + .button {
  margin-top: 2.5rem;
}

.banner-with-text__content .button.button--underline {
  text-decoration: underline;
  text-underline-offset: .3rem;
  color: #404040;
}
.banner-with-text__text .arrow svg{
  width: 15px;
  transform: rotate(-90deg);
  margin-left: 20px;
}
.banner-with-text__heading {
  margin-bottom: 0;
}

.banner-with-text__text p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.banner-with-text__image-media {
  max-width: var(--image-width);
  width: 100%;
}

.banner-with-text__image-media img {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .collapse-padding
    .banner-with-text__grid:not(.banner-with-text__grid--reverse)
    .banner-with-text__content:not(.banner-with-text__content--desktop-center) {
    padding-right: 0;
  }

  .collapse-padding
    .banner-with-text__grid--reverse
    .banner-with-text__content:not(.banner-with-text__content--desktop-center) {
    padding-left: 0;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .banner-with-text .grid {
    margin-left: 0;
  }
}