.blog-placeholder-svg {
  height: 100%;
}

@media screen and (min-width: 990px) {
  .grid--1-col-desktop .article-card .card__content {
    text-align: center;
  }
}

.blog__title {
  margin: 0;
}

.blog .blog__title {
  font-family: var(--font-body-family);
  font-weight: 400;
  color: var(--color-black);
}

.blog .title-wrapper-with-link .blog__title {
  font-family: "Outfit-Regular" !important;
  font-weight: 400;
  color: var(--color-black);
}

.blog__posts.articles-wrapper {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .blog__posts.articles-wrapper {
    margin-bottom: 0;
  }
}

.blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
}

@media screen and (max-width: 749px) {
  .blog__post.article {
    width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing));
  }

  .blog .title-wrapper-with-link .blog__title.h5 {
    font-family: "Outfit-Regular" !important;
    font-size: calc(var(--font-heading-scale)* 1.6rem);
    line-height: 2rem;
  }
}

.background-secondary .blog-placeholder__content {
  background-color: rgb(var(--color-background));
}

.blog__posts .card-wrapper {
  width: 100%;
}

.blog__button {
  margin-top: 3rem;
}

.blog .blog__posts.articles-wrapper {
  --grid-mobile-horizontal-spacing: 2rem;
  --grid-mobile-vertical-spacing: 2rem;
}

@media screen and (min-width: 750px) {
  .blog .blog__posts.articles-wrapper {
    --grid-desktop-horizontal-spacing: 2rem;
    --grid-desktop-vertical-spacing: 2rem;
  }

  .blog__button {
    margin-top: 5rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .blog__posts .article + .article {
      margin-left: var(--grid-desktop-horizontal-spacing);
    }
  }
}
