.richtext-column {
  z-index: 1;
}

.richtext-column__wrapper {
  display: flex;
  justify-content: center;
}

.richtext-column:not(.richtext-column--full-width) .richtext-column__wrapper {
  margin: auto;
  width: 100%;
}

.richtext-column__heading {
  margin: 0rem;
}

.richtext-column .richtext-column__text p {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

@media screen and (max-width: 749px) {
  .richtext-column .richtext-column__card {
    text-align: center;
  }

  .template-page-residency-program .richtext-column .richtext-column__card {
    text-align: left;
  }

  .richtext-column__heading {
    font-size: 2rem;
  }

  .richtext-column-content {
    margin-top: 1.5rem;
  }

  .richtext-column__card.left .richtext-column__buttons {
    justify-content: center !important;
  }
}

@media screen and (min-width: 750px) {
  .richtext-column__card {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }
  
  .richtext-column[data-row-view="true"] .richtext-column-heading-wrapper {
    display: flex;
    flex: 0 0 20%;
  }

  .richtext-column__wrapper {
    width: 100%;
  }

  .richtext-column__wrapper--left {
    justify-content: flex-start;
  }

  .richtext-column__wrapper--right {
    justify-content: flex-end;
  }

  .richtext-column__wrapper--space-between {
    justify-content: space-between;
  }
}

@media screen and (min-width: 990px) {
  .richtext-column[data-row-view="true"] .richtext-column-heading-wrapper {
    flex: 0 0 30%;
    padding-left: 4rem;
  }
}

.richtext-column .richtext-column__text ul {
  padding-left: 0rem;
  list-style: none;
}

.richtext-column .richtext-column__text ul li {
  position: relative;
  padding-left: 1.4rem;
}

.richtext-column .richtext-column__text ul li:before {
  position: absolute;
  content: "";
  top: 1.2rem;
  left: 0rem;
  width: .5rem;
  height: .5rem;
  background: rgba(var(--color-foreground), 1);
  border-radius: 50%;
}

.richtext-column * {
  overflow-wrap: break-word;
}

.richtext-column > * {
  margin-top: 0;
  margin-bottom: 0;
}

.richtext-column > * + * {
  margin-top: 2rem;
}

.richtext-column > * + a {
  margin-top: 3rem;
}

.richtext-column__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  word-break: break-word;
  margin-top: 2rem;
}

.richtext-column__card.left .richtext-column__buttons {
  justify-content: flex-start;
}

.richtext-column__card.right .richtext-column__buttons {
  justify-content: flex-end;
}

/* Our team page */
@media screen and (max-width: 749px) {
  .template-page-our-team .richtext-column-content {
    margin-top: 2rem;
  }

  .template-page-our-team .richtext-column__buttons {
    margin-top: 3rem;
  }
}

/* Residency program */
.template-page-residency-program .richtext-column .richtext-column__wrapper--space-between {
  justify-content: center;
}

.template-page-residency-program .richtext-column .richtext-column__wrapper--space-between .richtext-column__heading {
  font-size: 4rem;
  line-height: 3.2rem;
  font-family: var(--font-lora-body-family) !important;
  font-style: var(--font-lora-body-style);
  font-weight: var(--font-lora-body-weight);
}

.template-page-residency-program .richtext-column .richtext-column__wrapper--space-between .richtext-column__card {
  width: 100%;
}

.richtext-column .richtext-column__text ul li strong {
  font-family: "Outfit-Medium" !important;
  font-weight: 500;
}

@media screen and (max-width: 749px) {
  .template-page-residency-program .richtext-column .richtext-column__wrapper--space-between .richtext-column__heading {
    font-size: 2rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .template-page-residency-program .richtext-column[data-row-view="true"] .richtext-column-heading-wrapper {
    flex: 0 0 35%;
  }

  .template-page-residency-program .application-status[data-row-view=true] .application-status-heading-wrapper {
    flex: 0 0 35%;
  }
}

@media screen and (min-width: 990px) {
  .template-page-residency-program .richtext-column .richtext-column__wrapper--space-between .richtext-column-content {
    max-width: 40rem;
  }
}