.section-our-team .our-team .page-width {
  --page-width: 109rem;
}

.our-team .title {
  margin: 0;
}

.our-team.no-heading .title {
  display: none;
}

.our-team .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .our-team .title-wrapper-with-link {
    padding-bottom: 2.4rem;
    margin-bottom: 2.4rem;
  }

  .our-team .title-wrapper-with-link .title.h5 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .our-team__title {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 989px) {
  .our-team .title-wrapper--self-padded-mobile {
    margin-inline: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .our-team .title-wrapper--self-padded-mobile {
    padding-bottom: 2.4rem;
    margin-bottom: 5.8rem;
  }
}

.our-team .button {
  margin-top: 1.5rem;
}

.our-team .button.button--underline {
  color: var(--color-grey10);
}

.our-team .button.button--underline:hover {
  color: var(--color-primary);
}

.our-team__media--placeholder {
  position: relative;
  overflow: hidden;
}

.our-team__media--placeholder:after {
  content: '';
  position: absolute;
  background: rgba(var(--color-foreground), 0.04);
}

.our-team__media--placeholder.media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .our-team__media--placeholder.media--adapt {
    height: 30rem;
  }
}

.our-team__media--placeholder > svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.our-team__media--placeholder:is(.animate--ambient, .animate--zoom-in) > .svg-wrapper {
  top: 0;
  left: 0;
  transform: translate(0);
}

@media screen and (min-width: 750px) {
  .our-team-list.grid {
    --grid-desktop-horizontal-spacing: 2rem;
    --grid-desktop-vertical-spacing: 3rem;
  }

  .our-team .button {
    margin-top: 2rem;
  }
}

.our-team-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.our-team-list__item:only-child {
  max-width: 72rem;
}

.our-team-list__item--empty {
  display: none;
}

.our-team:not(.background-none) .our-team-card {
  background: rgb(var(--color-background));
  height: 100%;
}

.our-team-card {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0.5rem;
  overflow: hidden;
}

.our-team-card.flip-card .our-team-card-content {
  visibility: visible;
  opacity: 1;
}

.our-team-card .our-team-card-content .our-team-card-content-box {
  width: 100%;
  height: 100%;
  padding-inline: 2rem;
  overflow-y: auto;
}

.our-team-card .our-team-card-content .our-team-card-content-box::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0.6rem rgba(var(--color-foreground), 0.3);
	border-radius: 0.4rem;
	background-color: #F5F5F5;
}

.our-team-card .our-team-card-content .our-team-card-content-box::-webkit-scrollbar {
	width: 0.4rem;
	background-color: #F5F5F5;
}

.our-team-card .our-team-card-content .our-team-card-content-box::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	-webkit-box-shadow: inset 0 0 0.6rem rgba(var(--color-foreground), 0.3);
	background-color: rgba(var(--color-foreground), 0.6);
}

.our-team.background-primary .our-team-card .our-team-card-body {
  background: rgb(var(--color-background),  .78);
  opacity: 1;
  backdrop-filter: blur(15px);
}

.our-team-list h3 {
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: var(--font-outfit-normal);
  font-weight: 400;
}

.our-team-list h3,
.our-team-list p {
  margin: 0;
  color: var(--color-black);
}

.our-team-list p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-top: 0.4rem;
}

.our-team-list__item.center .media--adapt,
.our-team-list__item .media--adapt .our-team-card__image {
  width: auto;
}

.our-team-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

.our-team .our-team-card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.2rem 1rem 2.6rem 1rem;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}

.our-team .our-team-card-content .team-member-name {
  margin-bottom: 0.4rem;
}

.our-team .our-team-card-content .team-member-caption {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin: 0rem;
  color: rgba(var(--color-foreground), 1);
}

.our-team .our-team-card-content .team-member-description {
  margin-top: 2.3rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(var(--color-foreground), 1);
}

.our-team .our-team-card-content .team-member-description p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(var(--color-foreground), 1);
}

.our-team .our-team-card-content .team-member-description p + p {
  margin-top: 2rem;
}

@media screen and (max-width: 989px) {
  .our-team .our-team-list.grid{
    --grid-desktop-horizontal-spacing: 2rem;
    --grid-desktop-vertical-spacing: 2rem;
    --grid-mobile-horizontal-spacing: 2rem;
    --grid-mobile-vertical-spacing: 2rem;
  }
}

@media screen and (max-width: 749px) {
  .our-team-list {
    margin: 0;
    width: 100%;
  }

  .our-team-list:not(.slider) {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .our-team .our-team-list.grid--1-col-tablet .grid__item {
    width: 100%;
    max-width: 100%;
  }

  .our-team .our-team-card__info {
    padding: 2.2rem 2.3rem 2.6rem 2.3rem;
  }

  .our-team .our-team-list .front-content p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-top: .3rem;
    color: rgba(var(--color-foreground), 1);
  }

  .our-team-card .action-button {
    color: rgba(var(--color-foreground), 1);
    color: #707070;
  }

  .our-team .our-team-card-content .team-member-caption {
    color: var(--color-black);
  }

  .our-team .our-team-card-content .team-member-description {
    margin-top: 3.1rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .our-team-list:not(.slider) {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.background-none .our-team-card-spacing {
  padding: 0;
  margin: 0;
}

.our-team-card__info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2.2rem 3rem 2.6rem 3rem;
}

.our-team.background-none .our-team-card {
  border-radius: 0.5rem;
}

.our-team-card .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.our-team-card .action-button {
  position: relative;
  border: 0rem;
  background: transparent;
  padding: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: #707070;
}

.our-team-card .our-team-card-content .action-button {
  position: absolute;
  right: 3rem;
  bottom: 3.65rem;
  opacity: 0;
  visibility: hidden;
  background: rgb(var(--color-background), 1);
  z-index: 1;
}

.our-team-card.flip-card .our-team-card-content .action-button {
  visibility: visible;
  opacity: 1;
}

.our-team-card .action-button .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
  width: 19px;
  height: 19px;
}
@media screen and (max-width: 767px) {
.our-team-card .action-button .icon {
  width: 13px;
  height: 13px;
}
}
@media screen and (min-width: 990px) {
  .our-team-list__item--empty {
    display: list-item;
  }
}
