.gallery {
  position: relative;
}

.gallery__title {
  margin-bottom: 6rem;
}

.gallery__title.title-blank {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__title.title-blank .link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.gallery__title.title-blank .link span {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
}

.gallery__title .link {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--color-primary)
}

.gallery__title .title {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-family: 'Outfit-Regular' !important;
  font-weight: 700;
}

.gallery .gallery-list-wrapper {
  position: relative;
}





.gallery .gallery-list-wrapper .gallery-list .gallery-list__item .gallery-card {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  overflow: hidden;
}

.gallery .gallery-list-wrapper .gallery-list .gallery-card__media {
  position: relative;
  width: 100%;
  height: auto;
  background: #D8D8D8;
}
.gallery .gallery-list-wrapper .gallery-list .deferred-media__poster{
  height: auto;
}
.gallery .gallery-list__item-video .gallery-card__media deferred-media {
  position: static;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: auto;
}

.gallery .gallery-list__item-video .gallery-card__media deferred-media video,
.gallery .gallery-list__item-video .gallery-card__media deferred-media iframe {
  width: 100%;
  height: 100%;
}

.gallery .gallery-list-wrapper .gallery-tag-image {
  position: absolute;
  bottom: -1rem;
  left: -1.5rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  object-fit: cover;
}

.gallery .button-wrapper {
  margin-top: 6rem;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .gallery .gallery-list-wrapper {
    padding-inline: 3rem;
  }

  .gallery .gallery-list-wrapper .gallery-tag-image {
    bottom: -3rem;
    left: -1.5rem;
    width: 8.7rem;
    height: 8.7rem;
  }
}

@media screen and (max-width: 990px) {
  .gallery__title {
    margin-bottom: 4rem;
  }

  .gallery .gallery-list-wrapper .gallery-list {
    gap: 1rem;
  }

  .gallery .button-wrapper {
    margin-top: 4rem;
    text-align: center;
  }
}

@media screen and (max-width: 749px) {
  .gallery .gallery-list-wrapper .gallery-list {
    gap: 0.9rem;
  }
}
.gallery-list.contains-content-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.gallery .gallery-list-wrapper .gallery-list .gallery-list__item .gallery-card .media > img{
  position: static;
  height: auto;
  display: block;
}
.gallery .gallery-list-wrapper .gallery-list .gallery-list__item .gallery-card .media .deferred-media__poster-button{
  position: absolute;
}
.section-1.gallery-list-section{
  width: 100%;
  max-width:  calc(30% - 10px);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
}
.section-2.gallery-list-section{
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: calc(70% - 10px);
}
.section-1.gallery-list-section .gallery-list__item, .section-2.gallery-list-section .gallery-list__item{
  width: 100%;
}
.section-2.gallery-list-section .gallery-list__item:nth-child(2),
.section-2.gallery-list-section .gallery-list__item:nth-child(3) {
  width: calc(50% - 10px); /* Second and third div take 50% minus half of the gap */
}

@media(max-width:767px){
  .section-1.gallery-list-section{
    width: 100%;
    max-width:  calc(30% - 5px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .section-2.gallery-list-section{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: calc(70% - 5px);
  }
  .section-2.gallery-list-section .gallery-list__item:nth-child(2),
  .section-2.gallery-list-section .gallery-list__item:nth-child(3) {
    width: calc(50% - 5px); /* Second and third div take 50% minus half of the gap */
  } 
}